<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <?php echo $this->headTitle('Localhost -'. $this->translate('Web Root'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array(
            'rel' => 'shortcut icon', 
            'type' => 'image/vnd.microsoft.icon', 
            'href' => $this->basePath() . '/img/favicon.ico')
            )->prependStylesheet($this->basePath().'/foundation/css/foundation.css'); ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/foundation/js/vendor/modernizr.js'); ?>
  </head>
  <body>
    
    <div class="row">
      <!-- <div class="fixed"> -->
      <div class="contain-to-grid">

        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="/">Localhost</a></h1>
                </li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <!-- <li class="toggle-topbar menu-icon">
                    <a href="#"><span>Menu</span></a>
                </li> -->
            </ul>
            <section class="top-bar-section"> <!-- Right Nav Section -->
                <ul class="right">
                    <!-- <li class="active">
                        <a href="#">Right Button Active</a>
                    </li> -->
                    <li class="has-dropdown">
                        <a href="#">TOOLS</a>
                        <ul class="dropdown">
                            <li><a href="http://localhost/phpmyadmin/" target="blank">phpMyAdmin</a></li>
                            <li><a href="http://localhost/hal-browser/" target="blank">HAL Browser</a></li>
                            <li><a href="http://localhost/webgrind/" target="blank">webgrind</a></li>
                            <li><a href="http://localhost:10081/ZendServer/" target="blank">ZendServer</a></li>
                            <li><a href="http://localhost/.localhost-ui/assets/scripts/phpinfo.php" 
                   target="blank">phpinfo()</a></li>
                        </ul>
                    </li>
                </ul> <!-- Left Nav Section -->
                <ul class="left">
                    <li><a href="/library">Library</a></li>
                </ul>
            </section> 
        </nav>
      </div>
    </div> <!-- /row -->

    <div class="row">
      <div class="large-12 columns">

        <?php echo $this->content; ?>
        <hr>
        <footer>
            <p>&copy; 2010 - <?php echo date('Y') ?> by Brian Teachman | "<?php echo $this->translate('Earth words are cheesy') ?>"</p>
        </footer>
      </div>
    </div> <!-- /row -->

    <?php echo $this->inlineScript() ?>
    
    <script src="/foundation/js/vendor/jquery.js"></script>
    <script src="/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
