<div class="row">

	<h1><?php echo $book->title ?></h1>
	<hr>

	<div class="col-md-4">
		<img src="<?php echo $book->cover->large ?>" alt="">
	</div>

	<div class="col-md-8">
		<ol>
		<?php 
		echo sprintf('<a href="%s">%s</a><br />', 
			$book->url,
			$book->title
		);

		if (isset($book->subtitle)) {
			echo $book->subtitle . '<br />';
		}

		if (isset($book->number_of_pages)) {
			echo $book->number_of_pages . '<br />';
		}

		if (isset($book->identifiers->isbn_13[0])) {
			echo $book->identifiers->isbn_13[0] . '<br />';
		}
		if (isset($book->identifiers->isbn_10[0])) {
			echo $book->identifiers->isbn_10[0] . '<br />';
		}
		if (isset($book->identifiers->librarything[0])) {
			echo $book->identifiers->librarything[0] . '<br />';
		}

		// Image urls
		// echo $book->cover->small . '<br />';
		// echo $book->cover->medium . '<br />';
		// echo $book->cover->large . '<br />';

		echo sprintf('<a href="%s">%s</a><br />', 
			$book->authors[0]->url,
			$book->authors[0]->name
		);

		if (isset($book->by_statement)) {
			echo $book->by_statement . '<br />';
		}

		echo $book->publish_date . '<br />';
		echo $book->publishers[0]->name . '<br />';
		?>
		</ol>
	</div>
</div>