<div class="row">

	<!-- <h1>T<sub><i>F</i></sub> Library</h1> -->
	<h1><i>T<sub>F</sub></i> Library <small> (read on: YYYY-MM-DD)</small></h1>
	<hr>

	<div class="col-md-4">
		<img src="<?php echo $book->cover->large ?>" alt="">
	</div>

	<div class="col-md-8">
		<?php echo sprintf('<h2 class="">%s</h2>', $book->title); ?>
		<ul style="list-style-type: none">
		<?php 
		echo sprintf('<li class="">%s</li>', $book->author);

		echo sprintf('<li class="">ISBN: %s</li>', $book->isbn);
		?>
		</ul>
	</div>
</div>