<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('Teachman Family %sLibrary%s'), '<span class="zf-green">', '</span>') ?></h1>
    <p><?php echo sprintf($this->translate('Congratulations! You have finally stumbled upon the %sT<sub>F</sub> Library%s. Please be kind and rewind or something.'), '<a href="https://github.com/zendframework/ZendSkeletonApplication" target="_blank">', '</a>', \Zend\Version\Version::VERSION) ?></p>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Library Tools') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                    <ul>
                        <li><a class="btn" href="/library/books"><?php echo $this->translate('View Books') ?> &raquo;</a></li>
                        <li><a class="btn" href="/library/books">&raquo; <?php echo $this->translate('Add Book') ?></a></li>
                        <li><a class="btn" href="/library/books">&raquo; <?php echo $this->translate('Edit Book') ?></a></li>
                        <li><a class="btn" href="/library/books">&raquo; <?php echo $this->translate('Delete Book') ?></a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Book Listing') ?> <small><?php echo count($books) ?> books</small></h3>
            </div>
            <div class="panel-body">
                <!-- <p><?php echo sprintf($this->translate('Knowledge keeping at it\'s best--accumulating tidbits from everywhere.'), '<a href="https://localhost/">', '</a>') ?></p> -->
                <!-- <hr> -->
                <ol>
                    <?php foreach ($books as $book): ?>
                    <li>
                        <a href="/library/book/<?php echo $book['isbn'] ?>"><?php echo $book['title'] ?></a>
                    </li>
                    <?php endforeach; ?>
                </ol>
            </div>
        </div>
    </div>

</div>
