<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('Localhost %s(Web root tooling)%s'), '<small class="zf-green">', '</small>') ?></h1>
    <p><?php echo sprintf($this->translate('This software is a hub for tooling around one\'s local environment. I use it regularly while developing the code I keep %son bitbucket%s.'), '<a href="https://bitbucket.org/brianteachman/localz">', '</a>') ?></p>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Dev Tools') ?></h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="http://localhost/phpmyadmin/" target="blank">phpMyAdmin</a>
                    </li>
                    <li>
                        <a href="http://localhost/webgrind/" target="blank">webgrind</a>
                    </li>
                    <li>
                        <a href="http://localhost/.localhost-ui/assets/scripts/phpinfo.php" 
                   target="blank">phpinfo()</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Virtual Hosts') ?></h3>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>Listing:</td>
                        <td><code>C:\Zend\ZendServer\etc\sites.d</code></td>
                    </tr>
                    <!-- <tr>
                        <td>Linux:</td>
                        <td><code>/etc/apache2/sites-enabled</code></td>
                    </tr> -->
                </table>
                <hr>
                <ul>
                    <?php foreach ($vhosts as $vhost): ?>
                    <li><a href="http://<?php echo $vhost['name'] ?>"><?php echo $vhost['name'] ?></a></li>
                    <?php endforeach; ?>
                </ul>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Web Root Directory') ?></h3>
            </div>
            <div class="panel-body">
                <table>
                     <tr>
                        <td>Listing:</td>
                        <td><code><?php echo $current_path ?></code></td>
                    </tr>
                </table>
                <p><a class="btn btn-success pull-right" href="/listing"><?php echo $this->translate('Edit Files') ?> &raquo;</a></p>
                <hr>

                <ul class="list-unstyled">
                <?php foreach($files as $dirname => $file): ?>
                    <?php if(is_array($file)): ?>
                    <li><a href="?i=<?php echo $slug . $dirname ?>"><?php echo $dirname ?></a></li>
                    <?php else: ?>
                    <li><a href="/?i=<?php echo $slug . $file ?>"><?php echo $file ?></a></li>
                    <?php endif; ?>
                <?php endforeach; ?>
                </ul>

            </div>
        </div>
    </div>
</div>
