<?php
$this->headLink()->prependStylesheet(
    $this->basePath() . "/syntaxhighlighter/styles/shThemeDefault.css"
);

$this->headScript()
    // ->prependFile($this->basePath() . "/js/shBrushPhtml.js")
    ->prependFile("http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js")
    ->prependFile($this->basePath() . "/syntaxhighlighter/scripts/shCore.js");

$this->inlineScript()->captureStart();
echo <<<JS
    SyntaxHighlighter.autoloader(
        ['js','jscript','javascript','{$this->basePath()}/syntaxhighlighter/scripts/shBrushJScript.js'],
        ['bash','shell','{$this->basePath()}/syntaxhighlighter/scripts/shBrushBash.js'],
        ['css','{$this->basePath()}/syntaxhighlighter/scripts/shBrushCss.js'],
        ['xml','html','phtml','{$this->basePath()}/syntaxhighlighter/scripts/shBrushXml.js'],
        ['sql','{$this->basePath()}/syntaxhighlighter/scripts/shBrushSql.js'],
        ['php','{$this->basePath()}/syntaxhighlighter/scripts/shBrushPhp.js'],
        ['phtml','{$this->basePath()}/js/shBrushPhtml.js']
    );
    SyntaxHighlighter.all()
JS;
$this->inlineScript()->captureEnd();
?>
<div class="page-header">
    <h1><small><?php echo $dir_name ?></small><?php echo $file_name ?></h1>
</div>

<div class="row">

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('File Editing Tools') ?></h3>
            </div>
            <div class="panel-body">
                <a class="btn btn-success" href="/">&laquo; <?php echo $this->translate('HOME') ?></a>
                <a class="btn btn-success pull-right" href="/edit"><?php echo $this->translate('EDIT') ?> &raquo;</a>
                <hr>
                <ul class="list-unstyled">
                <?php foreach($files as $dirname => $file): ?>
                    <?php if(is_array($file)): ?>
                    <li><a href="/?i=<?php echo $dir_name . $dirname ?>"><?php echo $dirname ?></a></li>
                    <?php else: ?>
                    <li><a href="/?i=<?php echo $dir_name . $file ?>"><?php echo $file ?></a></li>
                    <?php endif; ?>
                <?php endforeach; ?>
                </ul>
                <p></p>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate($current_path) ?></h3>
            </div>
            <div class="panel-body">
                
                <pre class="brush: <?php echo $file_type ?>"><?php echo $content ?></pre>

            </div>
        </div>
    </div>

</div>