<?php
$this->headLink()->prependStylesheet(
    $this->basePath() . "/syntaxhighlighter/styles/shThemeDefault.css"
);

$this->headScript()
    // ->prependFile($this->basePath() . "/js/shBrushPhtml.js")
    ->prependFile("http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js")
    ->prependFile($this->basePath() . "/syntaxhighlighter/scripts/shCore.js");

$this->inlineScript()->captureStart();
echo <<<JS
    SyntaxHighlighter.autoloader(
        ['js','jscript','javascript','{$this->basePath()}/syntaxhighlighter/scripts/shBrushJScript.js'],
        ['bash','shell','{$this->basePath()}/syntaxhighlighter/scripts/shBrushBash.js'],
        ['css','{$this->basePath()}/syntaxhighlighter/scripts/shBrushCss.js'],
        ['xml','html','phtml','{$this->basePath()}/syntaxhighlighter/scripts/shBrushXml.js'],
        ['sql','{$this->basePath()}/syntaxhighlighter/scripts/shBrushSql.js'],
        ['php','{$this->basePath()}/syntaxhighlighter/scripts/shBrushPhp.js'],
        ['phtml','{$this->basePath()}/js/shBrushPhtml.js']
    );
    SyntaxHighlighter.all()
JS;
$this->inlineScript()->captureEnd();
?>
<div class="page-header">
    <h1><small><?php echo $dir_name ?></small><?php echo $file_name ?></h1>
</div>

<div class="row">

    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="large-8 columns">
                    <h3 class="panel-title"><?php echo 'Read only' ?></h3>
                </div>
                <div class="large-4 columns">

                    <form action="" method="get">
                        <div class="row collapse">

                            <div class="small-10 columns">
                                <select name="i">
                                <?php foreach($files as $dirname => $file): ?>
                                    <?php if(is_array($file)): ?>
                                    <option value="<?php echo $dir_name . $dirname ?>"><?php echo $dirname ?></option>
                                    <?php else: ?>
                                    <option value="<?php echo $dir_name . $file ?>"<?php echo $file_name == $file? ' selected="true"': '' ?>><?php echo $file ?></option>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                                </select>
                            </div>

                            <div class="small-2 columns">
                                <input type="submit" class="postfix button tiny" value="EDIT">
                            </div>

                        </div>
                    </form>

                </div>
                <hr>
            </div>
            <div class="panel-body">
                
                <pre class="brush: <?php echo $file_type ?>"><?php echo $content ?></pre>

            </div>
        </div>
    </div>

</div>